* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
}



main {
    margin: -4rem auto 2rem;
    background-color: hsl(275, 100%, 97%);
    position: absolute;

}

.section__container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 1.5rem;
    position: relative;
    z-index: 2;
    top: -4rem;
    width: 80%;
    margin: auto;
}

.section__container--header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1.2rem 0;
}

.section__container--icon {
    width: 10%;
}

.section__container--title {
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 1.2rem;
}

article>div {
    display: flex;
    justify-content: space-between;
}

.article__title {
    font-weight: 700;
}

/* boton abrir */

.article__button--open {
    border: none;
    background-color: hsl(0, 0%, 100%);
    display: block;
}

.article__button--open__disabled {
    display: none;
}

/* boton cerrar */

.article__button--close {
    border: none;
    background-color: hsl(0, 0%, 100%);
    display: block;
}

.article__button--close__disabled {
    display: none;
}

.article__text {
    padding: 1.4rem 0;
    font-size: 0.8rem;
}

.article__text--disabled {
    display: none;
}

.article__line--separator {
    border-bottom: 2px solid hsl(275, 100%, 97%);
    margin: 1rem 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* 
## Colors

- White: hsl(0, 0%, 100%)
- Light pink: hsl(275, 100%, 97%)
- Grayish purple: hsl(292, 16%, 49%)
- Dark purple: hsl(292, 42%, 14%) */