* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;

}

.img__background {
    background-image: url("./assets/images/background-pattern-mobile.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(275, 100%, 97%);
    height: 350px;
}


main {
    margin: -4rem auto 2rem;
    background-color: hsl(275, 100%, 97%);
    position: absolute;
    color: hsl(292, 42%, 14%);
    height: 100vh;
}

.section__container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-sizing: content-box;
    padding: 0 1.5rem 1.5rem;
    position: relative;
    z-index: 2;
    top: -9.2rem;
    width: 70%;
    margin: auto;
}

.section__container--header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1.2rem 0 1.5rem;
}

.section__container--icon {
    width: 10%;
}

.section__container--title {
    font-size: 2rem;
    font-weight: 800;
    padding-left: 1.2rem;
}

article>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article__title {
    font-size: 1.05rem;
    font-weight: 600;
    margin-right: 1rem;
}

.article__title:hover {
    color: hsl(281, 83%, 54%);
    cursor: pointer;
    font-size: 1.1rem;
}

button {
    border: none;
}

/* boton abrir */

.article__button--open {
    border: none;
    background-color: hsl(0, 0%, 100%);
    display: block;
}

.article__button--open__disabled {
    display: none;
}

/* boton cerrar */

.article__button--close {
    border: none;
    background-color: hsl(0, 0%, 100%);
    display: block;
}

.article__button--close__disabled {
    display: none;
}

.article__text {
    padding: 1.4rem 0 0.6rem;
    font-size: 0.88rem;
    line-height: 1.3rem;
}

.article__text--disabled {
    display: none;
}

.article__line--separator {
    border-bottom: 2px solid hsl(275, 100%, 97%);
    margin: 0.99rem 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* 
## Colors

- White: hsl(0, 0%, 100%)
- Light pink: hsl(275, 100%, 97%)
- Grayish purple: hsl(292, 16%, 49%)
- Dark purple: hsl(292, 42%, 14%) */

@media(width>=768px) {
    .img__background {
        background-image: url('./assets/images/background-pattern-desktop.svg');
        height: 400px;
    }

    main {
        width: 100vw;
    }

    .section__container {
        width: 40%;
        top: -9.4rem;
        padding: 3rem 1.5rem 4rem;
        box-shadow: 1px 4px 20px hsla(300, 6%, 48%, 0.445);
    }

    .section__container--icon {
        width: 6%;
        margin-left: 1.5rem;
    }

    .section__container--title {
        font-size: 2.9rem;
    }

    article {
        margin: 0 1.5rem;
    }

    .article__text {
        font-size: 0.9rem;
    }
}